{% extends '::base.html.twig' %}

{% block title "Groups | " ~ group.getName() %}

{% block body %}
    <h1 class="title">{{ group.getName() }}</h1>

    [<a href="{{ path('edit_group', {'id': id}) }}" >{% trans from 'EgilsGroupsBundle' %}group.edit{% endtrans %}</a>]
    [<a href="{{ path('remove_group', {'id': group.getId()}) }}" >{% trans from 'EgilsGroupsBundle' %}group.delete{% endtrans %}</a>]
{% endblock body %}
